## 1. Reading a csv and excel file.

In [27]:
import pandas as pd
import os
print(os.getcwd())

os.listdir('C:\\Users\\X39192A\\OneDrive - General Mills\\My_Prac\\Research\\BoardInfinity\\Content\\2.PythonAdvance\\C.Pandas\\data')

path = 'C:\\Users\\X39192A\\OneDrive - General Mills\\My_Prac\\Research\\BoardInfinity\\Content\\2.PythonAdvance\\C.Pandas\\data\\'


data_csv = pd.read_csv(path+'weather_data_csv.csv') # read csv file
data_excel = pd.read_excel(path+'weather_data_excel.xlsx') # read excel file


data_csv

C:\Users\X39192A\OneDrive - General Mills\My_Prac\Research\BoardInfinity\Content\2.PythonAdvance\C.Pandas\4.LearnOnData

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

**1.a Reading a csv without header(skipping rows)**

In [31]:
data_csv = pd.read_csv(path+'1.b_weather_data_csv.csv', header = 1)

**1.b Reading a csv with one column as index**

In [34]:
data_csv = pd.read_csv(path+'weather_data_csv.csv', index_col=['day']) # read csv file
data_csv.index

Index(['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'], dtype='object', name='day')

**1.c Reading only subset of columns**

In [35]:
data_csv = pd.read_csv(path+'weather_data_csv.csv', usecols = ['day','temperature', 'event'])
data_csv

        day  temperature  event
0  1/1/2017           32   Rain
1  1/2/2017           35  Sunny
2  1/3/2017           28   Snow
3  1/4/2017           24   Snow
4  1/5/2017           32   Rain
5  1/6/2017           31  Sunny

**1.d Reading only subset of columns**

In [23]:
data_csv = pd.read_csv(path+'weather_data_csv.csv', names = ['a','b', 'c','d'])# keep on increasing , it will add columns with NaN values
data_csv

          a            b          c      d
0       day  temperature  windspeed  event
1  1/1/2017           32          6   Rain
2  1/2/2017           35          7  Sunny
3  1/3/2017           28          2   Snow
4  1/4/2017           24          7   Snow
5  1/5/2017           32          4   Rain
6  1/6/2017           31          2  Sunny

**2. Display a summary of the basic information about birds DataFrame and its data.**

In [26]:
data_csv = pd.read_csv(path+'weather_data_csv.csv') # read csv file
data_csv

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

**3. Print the first 2 rows of the birds dataframe **

**4. Print all the rows with only 'birds' and 'age' columns from the dataframe**

**5. select [2, 3, 7] rows and in columns ['birds', 'age', 'visits']**

**6. select the rows where the number of visits is less than 4**

**7. select the rows with columns ['birds', 'visits'] where the age is missing i.e NaN**

**8. Select the rows where the birds is a Cranes and the age is less than 4**

**9. Select the rows the age is between 2 and 4(inclusive)**

**10. Find the total number of visits of the bird Cranes**

**11. Calculate the mean age for each different birds in dataframe.**

**12. Append a new row 'k' to dataframe with your choice of values for each column. Then delete that row to return the original DataFrame.**

**13. Find the number of each type of birds in dataframe (Counts)**

**14. Sort dataframe (birds) first by the values in the 'age' in decending order, then by the value in the 'visits' column in ascending order.**

**15. Replace the priority column values with'yes' should be 1 and 'no' should be 0**

**16. In the 'birds' column, change the 'Cranes' entries to 'trumpeters'.**