### Mutable - Dictionaries

In [7]:
Temperatures = dict() # creating a dictionary
print(type(Temperatures))
Temperatures = {} # Another way to create dictionary
Temperatures = {"Bangalore":32,"Paris":34,"London":38}
print("Printing the dictionary", Temperatures)

<class 'dict'>
Printing the dictionary {'Bangalore': 32, 'Paris': 34, 'London': 38}

In [8]:
Temperatures['Bangalore'] = [1,2,3,4] # Dictionary is mutable
print("Printing the dictionary after changing the value of Bangalore", Temperatures)

Printing the dictionary after changing the value of Bangalore {'Bangalore': [1, 2, 3, 4], 'Paris': 34, 'London': 38}

In [9]:
if type(Temperatures['Bangalore']) == 'list':
    for i in Temperatures['Bangalore']:
        print(i)

In [10]:
del(Temperatures["Bangalore"]) # deleting a key from a list
Temperatures

{'Paris': 34, 'London': 38}

In [11]:
Temperatures['Goa'] = 28

In [12]:
Temperatures

{'Paris': 34, 'London': 38, 'Goa': 28}

In [10]:
for i in Temperatures.items():
    print(type(i))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [106]:
print(Temperatures.keys())
print(Temperatures.values())
print(Temperatures.items())

dict_keys(['Bangalore', 'Paris', 'London', 'Goa'])
dict_values([35, 34, 38, 28])
dict_items([('Bangalore', 35), ('Paris', 34), ('London', 38), ('Goa', 28)])

In [117]:
# Usage of function items()
for k,v in Temperatures.items():
    print(k,v)

Bangalore 35
Paris 34
London 38

In [28]:
# trick with zip()
a = [1,2,3,4]
b = ['a','b','c','d']
for i,j in zip(a,b):
    print(i,j)

1 a
2 b
3 c
4 d

### Mutable - Sets

In [13]:
s1 = {1,2,3,3,3,3}
s2 = {3,2,4}

In [14]:
print(s1)
print(s2)

{1, 2, 3}
{2, 3, 4}

In [15]:
s1.add(10)
s1.add(10)
s1.add(10)
s2.add(30)
s2.add(30)
s2.add(30)

In [16]:
print(s1)
print(s2)

{10, 1, 2, 3}
{2, 3, 4, 30}

In [22]:
s1.union(s2)

{1, 2, 3, 4, 10, 30}

In [12]:
s1.intersection(s2)

{2, 3}

In [59]:
s1.difference(s2)

{1, 10}

# <font color="#2970A8">1.B.4 - Basic Operation and Operator in Python</font>

## <font color="#2970A8">Operators
    1)Arithmetic
    2)Assignment
    3)Comparision
    4)Logical
    5)Bitwise
    6)Identity
    7)Membership

### Arithmetic

In [94]:
a = 5
b = 2
print(a + b)   # Addition
print(a - b)   # Subtraction
print(a * b)   # Multiplication
print(a / b)   # Division       - returns quotient with fraction
print(a % b)   # Modulus        - returns remainder
print(a // b)  # Floor division - returns integer quotient
print(a ** b)  # Exponent

7
3
10
2.5
1
2
25

### Assignment

In [18]:
s1

{1, 2, 3, 10}

In [19]:
s2

{2, 3, 4, 30}

In [ ]:
s1.difference(s2)

In [32]:
a=10
print(a)

a+=10 # a = a + 10
print(a)

a-=10 # a = a - 10
print(a)

a/=10
print(a)

a*=10
print(a)

a**=10
print(a)

10
20
10
1.0
10.0
10000000000.0

### Comparison

In [96]:
a=10
b=20
print(a==b)
print(a!=b)
print(a>b)
print(a>=b)

print(a<b)
print(a<=b)

False
True
False
False
True
True

In [121]:
a = 10
b = 10
print(a>=b)

True

### Logical

In [34]:
a = True
b = False

#print(a,b)
print(bool(1), bool(b))

True False
True False

True

In [41]:
# And operation
print(a and b)

# OR operations
print(a or b)

False
True

### Bitwise

In [38]:
a = 3
b = 5
#print(a,b)
#print(a & b)

3 5
1

In [40]:
bin(3),bin(5)

('0b11', '0b101')

In [4]:
#bin(a), bin(b)

('0b11', '0b101')

In [43]:
a & b

1

In [44]:
# cross checking
bin(1)

'0b1'

In [42]:
bin(7)

'0b111'

In [42]:
a | b #

7

In [45]:
# cross checking
bin(7)

'0b111'

### Identity

 There are two identity operator : 'is' and 'is not'

In [43]:
a = 5
d = 5
a is d

True

In [44]:
# another way of finding it(trick)
id(a) == id(d)

True

In [48]:
c = 10
a is c

False

True

### Membership

In [27]:
s1 = 'Pythonic is veRy easy to learN!'
s2 = 'Data Science is the best profession to be in these days.'

In [25]:
d = {'Maharashtra' : 'Mumbai', 'temp' : 28, 'Region' : 'western', 'country' : 'india'}

False

(31, 56)

In [26]:
'Python' in s2 , 'python' in s1

(False, False)

In [29]:
0.1+0.2

0.30000000000000004

In [32]:
complex(2,3)

(2+3j)

In [55]:
a = [1,2,3,1,1,1,1,1,4,5,6,5]
temp = []
to_be_deleted = []
for i in a:
    if i not in temp:
        temp.append(i)
    else:
        to_be_deleted.append(i)
print("tbd", to_be_deleted)
print(set(to_be_deleted))

tbd [1, 1, 1, 1, 1, 5]
{1, 5}

In [73]:
temp

[2, 3, 4]

In [74]:
x_y_z = 1,000,000

In [76]:
X=1 ; y=10 ; z=100

In [77]:
X

1

In [79]:
z

100

In [80]:
Var = 1+2 + \
4+6

In [81]:
z = (+2+3+4+
5+6+7+1+1+1+1)

In [82]:
0.1 + 0.2 == 0.3

False