# <font color="#2970A8">1.A.1.1 - Python Basics</font>

# we will covered:
    1) Introduction to Jupyter notebook (Shortcuts are present right after the markdown/code panel)
    2) Other python online interpreter - Gogle colab and Kaggle kernel
    3) Why python
    4) Keywords
    5) Identifiers
    6) Variables
    7) Data types
    8) Data Structure : List, Tuple
        a) List comprehension
        b) List inbuilt functions
        c) List operations

## <font color="#2970A8">Intro to Jupyter Notebook</font>

### heading

In [1]:
print('Hello World', 10, 20, 'Python')

Hello World 10 20 Python

In [7]:
print("Abhishek") # It prints
'''
asjdagafafa
asufgasuifa
fjgaJFAS
AFUIASF

'''

Abhishek

'\nasjdagafafa\nasufgasuifa\nfjgaJFAS\nAFUIASF\n\n'

In [1]:
# How to run cell
# Few shortcuts : commenting, selecting cell, running cell, deleting cell, markdown, stopping kernel, adding cell above and below

### <font color="#2970A8">Comments</font>

In [5]:
# This is a single line comment
# This is second line comment
c = 30
c

30

In [6]:
'''
    This is a multi-line comment.
    sjsghsdhd
    DJHSghdsD
    JDSgd
    We can add as many lines of text as desired.
'''

print("Hello")

Hello

### <font color="#2970A8">Notebook type interface</font>

In [34]:
# Pycharm
# Intellij Idea
# Spyder

### <font color="#2970A8">Google Colab and Kaggle Kernels</font>

In [35]:
# Link : https://colab.research.google.com/notebooks/welcome.ipynb#recent=true
# Link : https://www.kaggle.com/kernels

<img src="GoogleColab_SC.png">

# <font color="#2970A8">1.B - Python Fundamentals</font>

## <font color="#2970A8">1.B.1- Why Python and how it is different from R programming language</font>

In [ ]:
'''
1) Syntax
## Python
==========
df = pd.read_csv('Homo_sapiens.GRCh38.85.gff3.gz', 
                         compression = 'gzip',
                         sep = '\t', 
                         comment = '#', 
                         low_memory = False,
                         header = None, 
                         names = ['seqid', 'source', 'type', 'start', 'end', 'score', 'strand', 'phase', 'attributes'])
df.head()
===========
## R
df <- read.csv("~/Documents/Github/Homo_sapiens.GRCh38.85.gff3.gz", 
               header = FALSE, 
               sep = "\t", 
               col.names = c('seqid', 'source', 'type', 'start', 'end', 'score', 'strand', 'phase', 'attributes'), 
               comment.char = "#")
head(df)


2) Purpose
3) Adaptability and ease of usage - FastText, Word2Vec
4) Oppurtunity
5) Integration with other component
'''

## <font color="#2970A8">1.B.2- Identifiers and Keywords and Variables in Python</font>

### Keywords
    Keywords are the reserved words in python
    We can't use a keyword as variable name, function name or any other identifier
    Keywords are case sentive

In [15]:
#Get all keywords in python 3.6

import keyword

print(keyword.kwlist)


print("Total number of keywords ", len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
Total number of keywords  33

### Identifiers

Identifier is the name given to entities like class, functions, variables etc. in Python. It helps differentiating one entity from another.

Rules for Writing Identifiers:

1. Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore (_).

2. An identifier cannot start with a digit. 1variable is invalid, but variable1 is perfectly fine.

3. Keywords cannot be used as identifiers.

In [14]:
_x123 = 5
print(_x123)

5

In [16]:
# case sentitive
name = 'Python'
NAME = 'Data Science'
Name = 'Only N is capital'

print(name, NAME, Name)

Python Data Science Only N is capital

In [38]:
_var = 90
__var = 99
_var, __var

(90, 99)

In [7]:
_ = 10

In [39]:
_099 = 'is a valid identifier'
# 09ab is not a valid identifier
_099

'''
    Invalid identifers
    * 09ab
    * var$
'''

'\n    Invalid identifers\n    * 09ab\n    * var$\n'

In [40]:
# trivial unusable values are often stored to _
_ = "this is not of use to me"
print(_)
_ = 4
print(_)

this is not of use to me
4

In [135]:
# as global is a keyword, so cannot be used as an identifier
global = 4

SyntaxError: invalid syntax (<ipython-input-135-46272030a4d3>, line 2)

### Variables

A variable is a location in memory used to store some data (value).

They are given unique names to differentiate between different memory locations. The rules for writing a variable name is same as the rules for writing identifiers in Python.

We don't need to declare a variable before using it. In Python, we simply assign a value to a variable and it will exist. We don't even have to declare the type of the variable. This is handled internally according to the type of value we assign to the variable.

In [10]:
x = 5
type('abhishek')

str

In [4]:
a = 10
b = 20.4
c = 'Machine Learning'

type(a), type(b), type(c)

(int, float, str)

In [4]:
#len, type, isinstance
a = 'python'
len("abhishek"), type(5.5), isinstance(a, str)

(8, float, True)

#### Variables : Multiple Assignments

In [12]:
a, b, c = 10, 5.5, "ML"

In [44]:
a = b = c = "AI" #assign the same value to multiple variables at once

#### Variables :  Storage Locations

In [16]:
x = 3
id(x)#print address of variable x

1385917568

In [17]:
y = 3
id(y)#print address of variable y

1385917568

Observation:

x and y points to same memory location

### Indentation

In [9]:
for i in range(10): # will look into for loop later in detail
    print("Part of the loop")
    print(i)
print("Not part of the loop")


# what if you by mistake don't indent properly, it raises 'IndentationError'

Part of the loop
0
Part of the loop
1
Part of the loop
2
Part of the loop
3
Part of the loop
4
Part of the loop
5
Part of the loop
6
Part of the loop
7
Part of the loop
8
Part of the loop
9
Not part of the loop

In [18]:
a = 10
if a<10:
    print('Machine Learning')
print("Python")

Python

In [10]:
if True:print('Machine Learning');print('Python') # Less readable

Machine Learning
Python

### Statements

In [21]:
a = 1 # single statements

# multi-line statements
b = 1+2 + \
    4+6

print(a,b)

1 13

In [22]:
# another way of using multi line statements
z = (2+3+4+
    5+6+7+1+1+1+1)
print(z)

31

In [52]:
a = 1; b = 2 ; c = 3 # using multiple statements in single line
print(a,b,c)

1 2 3

### Data Types

Every value in Python has a datatype. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

### Data Type : Numbers

Integers, floating point numbers and complex numbers falls under Python numbers category. They are defined as int, float and complex class in Python.

We can use the type() function to know which class a variable or a value belongs to and the isinstance() function to check if an object belongs to a particular class.

In [14]:
a = 5                               #data type is implicitly set to integer
print(a, " is of type", type(a))



print("ML", type('ML'))

5  is of type <class 'int'>
ML <class 'str'>

In [54]:
a = 2.5                            #data type is changed to float
print(a, " is of type", type(a))

2.5  is of type <class 'float'>

In [15]:
a = 1 + 2j                          #data type is changed to complex number
print(a, " is complex number?", type(a)) 
print(isinstance(1+2j, complex))

(1+2j)  is complex number? <class 'complex'>
True

### Data Types : Boolean

 Boolean represents the truth values False and True

In [27]:
if False:
    print("Hey")

In [24]:
if -1:
    print("Hi")

Hi

In [25]:
if 0:
    print("Uh oh!")

In [28]:
a = 6

In [30]:
a == 6

True

### Python Strings

String is sequence of Unicode characters. 

We can use single quotes or double quotes to represent strings. 

Multi-line strings can be denoted using triple quotes, ''' or """.

A string in Python consists of a series or sequence of characters - letters, numbers, and special characters. 

Strings can be indexed - often synonymously called subscripted as well. 

Similar to C, the first character of a string has the index 0.

In [45]:
s = 'python'
print(s[1:])

ython

In [54]:
s = 'abhishek'

#cheching palindrome

if s == s[::-1]:
    print("Yes it is a palindrome : ",s)

In [72]:
s = 'abcdefg'
s[5:2]

''

In [59]:
s[1:3]

'CI'

In [26]:
#slicing
s = 'Similar to C, the first character of a string has the index 0'
s[5:]

'ar to C, the first character of a string has the index 0'

# <font color="#2970A8">1.B.3 - Data Structures in Python</font>

### Python List (mutable)

List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. All the items in a list do not need to be of the same type.

Declaring a list is , Items separated by commas are enclosed within brackets [ ].

In [75]:
a = [10, 20.5, "Hello", 1,2,3,4,5]
print(a)#print 1st index element
print(type(a))

[10, 20.5, 'Hello', 1, 2, 3, 4, 5]
<class 'list'>

str

In [78]:
print(a[-1]) # trick to access the values from last
print(a[-3])
# Iterating over list from last
print(a[::-1])

5
3
[5, 4, 3, 2, 1, 'Hello', 20.5, 10]

In [79]:
a

[10, 20.5, 'Hello', 1, 2, 3, 4, 5]

In [80]:
a.append('Python')

In [82]:
a

[10, 20.5, 'Hello', 1, 2, 3, 4, 5, 'Python']

In [84]:
# for adding/appending elements in a list inside for loop
for i in range(10):
    a.append(i)

In [90]:
x[1] = 'python'

In [97]:
x.remove('python')

In [98]:
# diff between pop and remove?

[1, 3, 4, 5, 1000]

In [30]:
l1 = list() # can also create list by this
l2 = []
print(type(l1), type(l2)) # type is list

<class 'list'> <class 'list'>

In [31]:
a.append('Machine Learning') # adds an elemnt at the last of the list
print("printing after appending Machine Learning : ", a)

printing after appending Machine Learning :  [10, 20.5, 'Hello', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'Machine Learning']

In [67]:
x = ['abhi', 'dubey', 65]
for i in x:
    print(i)

abhi
dubey
65

In [61]:
a.remove(10) # deleting by value
print("printing after deleting value 10 at index 0 : ", a)

printing after deleting value 10 at index 0 :  [20.5, 'Hello', 1, 2, 3, 4, 5, 'Python', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [64]:
a

[20.5, 'Hello', 1, 2, 3, 4, 5, 'Python', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
a.pop(2)# deleting by index
print(a)

[20.5, 'Hello', 2, 3, 4, 5, 'Python', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Lists are mutable, meaning, value of elements of a list can be altered.

In [106]:
a[1] = 30.7 # changing a value in given index
print(a)


a
a[0] = 9999
a

[10, 30.7, 'Hello', 1, 2, 3, 4, 5, 'Python', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[9999, 30.7, 'Hello', 1, 2, 3, 4, 5, 'Python', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [109]:
LstOfLsts=[['00','01','02'],[10,11,12],[20,21,22]]
print(LstOfLsts[0][2])

02

In [112]:
del LstOfLsts[0][0]

In [113]:
LstOfLsts

[['01', '02'], [10, 11, 12], [20, 21, 22]]

In [111]:
type(LstOfLsts[0])

list

In [122]:
# slicing
a = [1,2,3,4,5,6]
a[1::2]

[2, 4, 6]

In [127]:
a =  [11,22,33,44]
b = [111,22,333,444]

In [128]:
a

[11, 22, 33, 44]

In [129]:
b

[111, 22, 333, 444]

In [130]:
c = [a,b]
for l in c:
    del l[2]

In [131]:
c

[[11, 22, 44], [111, 22, 444]]

In [115]:
# operation
a = [1,2,3]
b = [4,5,6]
a+b # create a list with both the elements of list

[1, 2, 3, 4, 5, 6]

In [117]:
# difference between sort() - a list native function & sorted() - python native function
a = [1,6,3,99,2]
a.sort()
a

[1, 2, 3, 6, 99]

In [118]:
a = [1,6,3,99,2]
sorted(a)

[1, 2, 3, 6, 99]

In [82]:
print("Printing after sort()", a)
a = [1,6,3,99,2]
print("Printing after sorted()",sorted(a))

Printing after sort() [1, 6, 3, 99, 2]
Printing after sorted() [1, 2, 3, 6, 99]

### Python Tuple

Tuple is an ordered sequence of items same as list.The only difference is that tuples are immutable. Tuples once created cannot be modified.

In [132]:
t = (1, 1.5, "ML")

In [133]:
print(t[1]) #extract particular element

print(t[-1])
print(t[::-1])# Iterating over list from last

1.5
ML
('ML', 1.5, 1)

In [101]:
#list comprehension

#doing without list comprehension
a = []
for i in range(5):
    a.append(i)
print(a)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

In [ ]:
# doing with list comprehension
print([i for i in range(5)])

In [134]:
a = []
for i in range(7):
    if i % 2 == 0:
        a.append(i)

In [135]:
a

[0, 2, 4, 6]

In [91]:
[i for i in range(7) if i %2 == 0]

[0, 2, 4, 6]