## String operations

### 1) Sting formatting

In [1]:
x = "Machine Learning"
y = "Python"

# trivial way
import sys
"I love %s, though %s is really cool" %(x,y)

'I love Machine Learning, though Python is really cool'

In [2]:
# Try formatting the string with place holder
"I love {} , though {} is really cool".format(x,y)

'I love Machine Learning , though Python is really cool'

In [4]:
# newer way of doing it using f-strings
x= 100
y = 2000
z = 1
f'I love {x}, though {y} is really {z} cool'

'I love 100, though 2000 is really 1 cool'

### 2) Adding two strings and formatting

In [6]:
x = "I love"
y = "Machine Learning"
x + y # notice there is no space in between words

'I loveMachine Learning'

In [5]:
# Lets add a space
x + " " + y

'I love Machine Learning'

In [7]:
f'{x} {y}'

'I love Machine Learning'

### 2) Repeating characters using * operator

In [8]:
'xyz' *3

'xyzxyzxyz'

In [7]:
x = "I love "
y = "Machine Learning"
print(((x+y + ", ")*4))

# can we do small task, print I love with space??

I love Machine Learning, I love Machine Learning, I love Machine Learning, I love Machine Learning,

### 2) Slicing string

In [10]:
y = "Machine Learning"
print(y[::-1])

gninraeL enihcaM

In [8]:
# slicing with steps
y[0:10:2]

'McieL'

In [11]:
a = [1,2,3,4]
print(a[::-1])

[4, 3, 2, 1]

In [9]:
# string reversal
y[::-1]

# check palindrome??, lets check 'radar'
x = 'radar'


x==x[::-1]

True

In [10]:
y[::-1]

'gninraeL enihcaM'

### 3) splitting string

In [22]:
x = "@@@@@@I love Machine Learning , but Python is really cool though@@@@@@@@@@"
x.strip('@')

'I love Machine Learning , but Python is really cool though'

In [ ]:
x.split(' ') # by default splitter is space

In [24]:
x = "abhishek.dubey@gmail.com"
x.split('@')[1].split('.')[0]

'gmail'

In [42]:
x = " I love Machine Learning , but Python is @ really cool though"
x.split(",")[1].split('@') # by default splitter is space

[' but Python is ', ' really cool though']

In [25]:
x = " I love Machine Learning , but Python is @ really cool though"


#

[elem.split('@') for elem in x.split(',')]

[[' I love Machine Learning '], [' but Python is ', ' really cool though']]

### 4) Add padding

In [26]:
"3".zfill(12)

'000000000003'

In [27]:
text = 'Chapter 1'
# Add Spaces Of Padding To The Left
format(text, '>20')

'           Chapter 1'

In [28]:
# Add Spaces Of Padding To The Right
format(text, '<20')

'Chapter 1           '

In [29]:
# Add Spaces Of Padding On Each Side
format(text, '^20')

'     Chapter 1      '

In [30]:
# Add * Of Padding On Each Side
format(text, '#^20')

'#####Chapter 1######'

In [31]:
#Break up a string into variables
firstLetter, secondLetter, thirdLetter, fourthLetter = 'Bark'

In [52]:
for each_word in [firstLetter, secondLetter, thirdLetter, fourthLetter]:
    print(each_word)

B
a
r
k

In [34]:
#Breaking up a number into separate variables
firstNumber, secondNumber, thirdNumber, fourthNumber = '1234'

In [35]:
#Assign the first letter of ‘spam’ into varible a, assign all the remaining letters to variable b
a, *b = 'spam'

In [36]:
countr_code, *phonenumber = '+911234567891'

In [37]:
countr_code

'+'

In [38]:
#Capitalize the first letter.
string = 'the quick brown fox jumped over the lazy brown bear'
string_capitalized = string.capitalize()
print("String capitalized:", string_capitalized)

string = 'the Quick brown fox JUMPED over the lAZy brown bear'
string_lower = string.lower()
print("String to lowercase:", string_lower)


string = 'the Quick brown fox JUMPED over the lAZy brown bear'
string_upper = string.upper()
print("String to uppercase:", string_upper)

string = 'the Quick brown fox JUMPED over the lAZy brown bear'
string_title = string.title()
print("String to titlecase:", string_title)

String capitalized: The quick brown fox jumped over the lazy brown bear
String to lowercase: the quick brown fox jumped over the lazy brown bear
String to uppercase: THE QUICK BROWN FOX JUMPED OVER THE LAZY BROWN BEAR
String to titlecase: The Quick Brown Fox Jumped Over The Lazy Brown Bear

In [39]:
string = 'the Quick brown fox JUMPED over the lAZy brown bear'
string_title = string.title()

In [41]:
string = 'the Quick brown fox JUMPED over the lAZy brown bear'

In [47]:
new_converted_string = []
string = string.upper()
for word in string.split():
    new_converted_string.append(word[0].lower() + word[1:])

In [54]:
x = [1,2,3,4,5]
','.join([str(elem) for elem in x])

'1,2,3,4,5'

In [49]:
' '.join(new_converted_string)

'tHE qUICK bROWN fOX jUMPED oVER tHE lAZY bROWN bEAR'

In [62]:
x.lower().strip()

'abhishek'

In [55]:
y = input()

AbhiShek

In [58]:
y.lower().strip() == 'abhishek'

True

In [60]:
# Count the number of e’s 
# count total of the substring occuring
print(string)
string_counted = string.count('E')
print(string_counted)

# count substring occuring within a range
string_counted = string.count('E', 0, 5)
print(string_counted)

THE QUICK BROWN FOX JUMPED OVER THE LAZY BROWN BEAR
5
1

In [63]:
# Locate the first occurence of 
print(string)
string_find = string.find('E')
string_find

THE QUICK BROWN FOX JUMPED OVER THE LAZY BROWN BEAR

2

In [30]:
string

'the Quick brown fox JUMPED over the lAZy brown bear'

In [33]:
string.count('o')

4

In [66]:
# Are all characters are alphabet?
s = 'Are all characters are alphabet'
string_isalpha = s.isalpha()
string_isalpha

True

In [39]:
string

'the Quick brown fox JUMPED over the lAZy brown bear'

In [42]:
import re

In [67]:
string.lower().count('e')

5

In [45]:
for i in re.finditer('e', string):
    print(i)

<_sre.SRE_Match object; span=(2, 3), match='e'>
<_sre.SRE_Match object; span=(29, 30), match='e'>
<_sre.SRE_Match object; span=(34, 35), match='e'>
<_sre.SRE_Match object; span=(48, 49), match='e'>

In [41]:
string.find('e')

2

In [28]:
string.replace(" ", "")

'theQuickbrownfoxJUMPEDoverthelAZybrownbear'

In [71]:
'12345'.isnumeric()

True

In [101]:
# replace
string.replace(" ","").replace(".","").isalpha()

True

In [111]:
# intresting difference between isnumeric() and isdigit() - '一二三四五'

In [73]:
#example


data = input()
if data.strip().lower().isdigit():
    print("Yes you entered a phone number")
else:
    print("Retry")

abhi
Retry

In [114]:
# isalnum()
''.()

False

In [72]:
'一二三四五'.isnumeric()

True

In [ ]:
# lstrip(), rstrip(), strip()

In [75]:
'        abhi       '.strip()

'abhi'

In [76]:
'abhi,'.strip(',')

'abhi'